<html>

<head>
</head>

<body>
<main>
    <div>
        <div>
            <div >
                <div>
                    <a href="/auth/google/login" >
                        Login with Google
                    </a>
                </div>
                <br>
                <div>
                    <button id="myButton">
                        Get Notes
                    </button>
                    <div id="pfp" style="padding-top: 10px;">
                    </div>
                    <div id="pinfo">
                    </div>
                    <div id="notes">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    const button = document.getElementById('myButton');
    const allCookies = document.cookie;

    fetch('http://localhost:8080/data/user', {
        method: 'GET', // or 'GET', 'PUT', 'DELETE'
        headers: {
            'Content-Type': 'application/json'
        },
        // body: JSON.stringify({ key: 'value' }) // Only for methods with body (e.g., POST, PUT)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        console.log('Success:', data);
        pfp = document.getElementById("pfp");
        pfp.replaceChildren();
        pinfo = document.getElementById("pinfo");
        pinfo.replaceChildren();
        if (data.length > 0) {
            const pfpElement = document.createElement("img");
            pfpElement.src = data[0].picture;
            pfpElement.alt = "profile picture";
            pfp.appendChild(pfpElement);
            const pinfoName = document.createElement("p");
            pinfoName.innerText = "Name: " + data[0].name;
            const pinfoEmail = document.createElement("p");
            pinfoEmail.innerText = "Email: " + data[0].email;
            pinfo.appendChild(pinfoName);
            pinfo.appendChild(pinfoEmail);
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });

    button.addEventListener('click', () => {
      fetch('http://localhost:8080/data/note', {
        method: 'GET', // or 'GET', 'PUT', 'DELETE'
        headers: {
          'Content-Type': 'application/json'
        },
        // body: JSON.stringify({ key: 'value' }) // Only for methods with body (e.g., POST, PUT)
      })
      .then(response => {
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
      })
      .then(data => {
        console.log('Success:', data);
        notes = document.getElementById("notes");
        notes.replaceChildren();
        for (var i = 0; i < data.length; i++) {
            const newNoteElement = document.createElement("p");
            newNoteElement.innerText = data[i].contents;
            notes.appendChild(newNoteElement);
        }

      })
      .catch(error => {
        console.error('Error:', error);
      });
    });
</script>
</body>

</html>
